include README.md
include LICENSE.txt

include setup.py
include setup.cfg
include requirements.txt

graft reqs
graft src

exclude tests/*
exclude .git/*
exclude .gitignore

recursive-exclude * *.pyc *.pyo
