include README.rst
include LICENSE.txt

include setup.py
include setup.cfg
include requirements.txt
include subconvert.desktop

graft reqs
graft src

recursive-exclude ci *
recursive-exclude tests *
recursive-exclude .git *

exclude .gitignore

recursive-exclude * *.pyc *.pyo *.mo resources.py
