[Desktop Entry]
Name=Subconvert
GenericName=Subtitle editor
GenericName[pl]=Edytor napisów
Comment=Subtitle editor and conventer
Comment[pl]=Edytor i konwenter napisów do filmów
TryExec=subconvert
Exec=subconvert %F
Terminal=false
Type=Application
Icon=subconvert
Categories=Video;AudioVideo;AudioVideoEditing;TextTools;Qt
StartupNotify=true
MimeType=application/x-subrip;application/x-microdvd;text/x-subviewer;text/x-mpsub;text/x-ssa;text/plain;
